# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules




/coverage


/.next/
/out/


/build


*.pem


npm-debug.log*





# vercel
.vercel



